{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mb-4 mt-4 library">
    <div class="row">
        <div class="col">
            <h2 class="mb-4">Library</h2>
        </div>
    </div>

    {% if orders %}
    {% for order in orders %}
    <div class="order-block mb-4 p-3 bg-white rounded-3 shadow-sm">
        <!-- Header row -->
        <div class="d-flex align-items-center gap-3 flex-wrap">
            <div class="fw-semibold">
                Order #{{ order.order_number }}
                <span class="text-muted">• {{ order.date|date:"Y-m-d" }}</span>
                <span class="text-muted">• {{ order.item_count }} item{{ order.item_count|pluralize }}</span>
            </div>



        </div>
        {% endfor %}
        {% endblock %}