{% extends "base.html" %}
{% block content %}
<div class="container mb-4 mt-4 library">
    <div class="row">
        <div class="col">
            <h2 class="mb-4">Library</h2>
        </div>
    </div>

    {% for it in order_items %}
    <div class="card mb-4 border-0">
        <h3 class="mb-4"> Order Nr: {{ it.order.order_number }}</h3>

        <div class="row">
            <!-- Image -->
            <div class="col-12 col-md-4">
                {% if it.artwork.image %}
                <a href="{% url 'detail' it.artwork.id %}">
                    <img class="img-fluid" src="{{ it.artwork.image.url }}" alt="{{ it.artwork.name }}">
                </a>
                {% elif it.artwork.image_url %}
                <a href="{% url 'detail' it.artwork.id %}">
                    <img class="img-fluid" src="{{ it.artwork.image_url }}" alt="{{ it.artwork.name }}">
                </a>
                {% else %}
                <img class="img-fluid" src="" alt="{{ it.artwork.name }}">
                {% endif %}
            </div>

            <!-- Info -->
            <div class="col-12 col-md-8">
                <div class="p-3 p-md-4 h-100 d-flex flex-column">
                    <div class="mb-2">
                        <span class="text-muted">Name:</span>
                        <strong>{{ it.artwork.name }}</strong>
                    </div>

                    <div class="mb-2">
                        <span class="text-muted">Description:</span>
                        {{ it.artwork.description|default:"—"|truncatewords:30 }}
                    </div>

                    <div class="mb-2">
                        <span class="text-muted">Size:</span>
                        {{ it.size|default:"—" }}
                    </div>

                    <div class="mb-2">
                        <span class="text-muted">Ordered At:</span>
                        {{ it.order.date|date:"Y-m-d H:i" }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock %}