{% extends "base.html" %}
{% block content %}
<div class="container py-5 shop-cont">
    <h1 class="mb-4 text-center">Artworks</h1>

    <div class="text-center mb-4">
        <strong>Shop by Categories:</strong>
        <a href="{% url 'all_artworks' %}?category=Abstract"
            class="text-muted text-decoration-underline px-3 py-2">Abstract</a>
        <a href="{% url 'all_artworks' %}?category=Minimalism"
            class="text-muted text-decoration-underline px-3 py-2">Minimalism</a>
        <a href="{% url 'all_artworks' %}?category=Nature"
            class="text-muted text-decoration-underline px-3 py-2">Nature</a>
        <a href="{% url 'all_artworks' %}?category=Typography"
            class="text-muted text-decoration-underline px-3 py-2">Typography</a>
    </div>
    <!-- Search + sort bar -->
    <form class="d-flex justify-content-center mb-4" method="get">
        <input class="form-control w-50 me-2" type="search" name="q" value="{{ search_term|default:'' }}"
            placeholder="Search artworks...">
        <button class="btn btn-dark" type="submit">Search</button>

    </form>

    {% if artworks %}
    <div class="row g-4">
        {% for artwork in artworks %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
                <a href="{% url 'detail' artwork.id %}">
                    {% if artwork.image %}
                    <img src="{{ artwork.image.url }}" class="card-img-top" alt="{{ artwork.name }}">
                    {% elif artwork.image_url %}
                    <img src="{{ artwork.image_url }}" class="card-img-top" alt="{{ artwork.name }}">
                    {% else %}
                    <div class="bg-light d-flex align-items-center justify-content-center" style="height:240px;">
                        <span class="text-muted">No Image</span>
                    </div>
                    {% endif %}
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title mb-2">{{ artwork.name }}</h5>
                    <p class="card-text mb-2">
                        {{ artwork.category.friendly_name|default:artwork.category.name }}
                    </p>
                    <div class="fw-semibold">
                        <p class="fw-bold mb-3">${{ artwork.price|add:SIZE_SURCHARGE.S }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <p class="text-center">No artworks found.</p>
    {% endif %}
</div>
{% endblock %}